<section role="region" class="vbox fit">
	<header>
		<h1>Futebolzinho</h1>
	</header>

	<section class="gaia-list fit scroll sticky">
		<article id="list">
			<header>
				Times sorteados
			</header><!-- /header -->
			<div id="left">
				<h3>Time A</h3>
				<p ng-repeat="playerA in listTeamA track by $index">{{playerA.name}}</p>
				<p class="textLevel">Level {{teamALevel}}</p>
			</div>
			<div id="right">
				<h3>Time B</h3>
				<p ng-repeat="playerB in listTeamB track by $index">{{playerB.name}}</p>
				<p class="textLevel">Level {{teamBLevel}}</p>
			</div>
		</article>
	</section>
	
	<footer class="gaia-footer">
		<button ng-click="back()">Voltar</button>
	</footer>
</section>