<section role="region" class="vbox fit">
	<header>
		<h1>Futebolzinho</h1>
	</header>

	<section id="inputArea">
		<div id="list">
			<div id="left">
				<h3>Time A</h3>
				<p ng-repeat="playerA in listTeamA track by $index">{{playerA.name}}</p>
			</div>
			<div id="right">
				<h3>Time B</h3>
				<p ng-repeat="playerB in listTeamB track by $index">{{playerB.name}}</p>
			</div>
		</div>
	</section>
	
	<footer class="gaia-footer">
		<button ng-click="back()">Voltar</button>
	</footer>
</section>